@font-face { 
    font-family: "Frutiger"; 
    src: url("../fonts/Frutiger-Light.ttf"); 
}
html{
    font-family: Frutiger;
}
body{
    margin: 0;
}

header{
    position: relative;
    height: 110px;
    background-color: #FFCC00;
}

#img_postlogo{
    height: 100px;
}

.div_headertitle{
    position: absolute;
    overflow: auto;
    right: 0;
    height: 110px;
    font-size: 25pt;
    font-weight: 900;
    color: #584125;
}

.p_headertitle{
    margin: 7% 0 0 0;
}