@font-face { 
    font-family: "Frutiger"; 
    src: url("../font/Frutiger-Light.ttf"); 
}
html{
    font-family: Frutiger;
}
body{
    margin: 0;
}

header{
    position: relative;
    height: 110px;
    background-color: #FFCC00;
}

nav{
    display: inline;
}

#img_postlogo{
    height: 100px;
}

.div_headertitle{
    position: absolute;
    overflow: auto;
    right: 0;
    height: 110px;
    font-size: 25pt;
    font-weight: 900;
    color: #584125;
}

.span_headertitle{
    position: absolute;
    overflow: auto;
    right: 0;
    height: 110px;
    margin: 30px 20px 0 0;
}

#a_headertitle{
    border-left: 2px solid #584125;
    text-decoration: none;
    font-size: 25pt;
    font-weight: 900;
    color: #584125;
}

#a_headertitle:hover{
    color: #000000;
    border-left: 2px solid #000000;
}

.p_headertitle{
    margin: 10% 20px 0 0;
}

.p_content{
    font-size: 20pt;
    margin-left: 20px;
    color: #584125;
}

#img_login{
    position: absolute;
    left: 50%;
    margin-top: 50px;
    margin-left: -175px;
    width: 350px;
}

#div_login{
    position: absolute;
    left: 50%;
    width: 705px;
    margin: 400px 0 0 -352.5px;
}

.p_login{
    margin: 0;
    font-size: 18pt;
    font-weight: 800;
}

.forms_login{
    height: 50px;
    width: 700px;
    margin-bottom: 10px;
    font-size: 18pt;
    background: #f5f1e8;
    border: 2px solid #806f60;
}

#button_login{
    float: right;
    height: 40px;
    width: 130px;
    font-size: 16pt;
    border-radius: 5px;
    background-color: #584125;
    color: #ebe4d1; 
    border: 1px solid #584125;
}

#button_login:hover{
    background-color: #FFCC00;
    color: #584125; 
}

.div_main{
    overflow: auto;
    width: 85%;
    margin: 50px 7.5%;
    background-color: #ebe4d1;
}

.div_flex{
    margin: 2% 4%;
    width: 92%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: auto;
    align-items: flex-start;
    align-content: flex-start;
}

#p_stack{
    margin: 20px 20px;
    font-size: 30pt;
    font-weight: 900;
    color: #584125;
}

.einstellungsbox{
    width: 240px;
    height: 240px;
    background-color: white;
    margin: 25px;
    border: 1px solid #584125;
    text-align: center;
}

.img_einstellungsbox{
    display: block;
    margin: 10px auto;
    height: 120px;
}

.p_einstellungsbox{
    display: inline-block;
    margin: 5px 0;
    font-size: 25pt;
    font-weight: 900;
    color: #584125;
    text-decoration: none;
}

.div_form{
    margin: 2% 4%;
    width: 92%;
    background-color: white;
}

.p_form_title{
    margin: 20px;
    font-size: 35pt;
    font-weight: 900;
    color: #584125;
}

.p_form{
    margin: 20px 0 0 20px;
    font-size: 25pt;
    font-weight: 900;
    color: #584125;
}

.forms_textfield{
    margin-left: 20px;
    height: 40px;
    width: 500px;
    font-size: 18pt;
    background: #f5f1e8;
    border: 2px solid #806f60;
}

.forms_dropdown{
    margin-left: 20px;
    height: 40px;
    width: 508px;
    font-size: 18pt;
    background: #f5f1e8;
    border: 2px solid #806f60;
}

.forms_textarea{
    margin-left: 20px;
    height: 200px;
    width: 500px;
    font-size: 18pt;
    background: #f5f1e8;
    border: 2px solid #806f60;
    resize: none;
    font-family: Frutiger;
}

.forms_radio{
    margin-left: 20px;
}

.forms_date{
    margin-left: 20px;
    height: 40px;
    width: 250px;
    font-size: 18pt;
    background: #f5f1e8;
    border: 2px solid #806f60;
    font-family: Frutiger;
}

.forms_time{
    height: 40px;
    width: 250px;
    font-size: 18pt;
    background: #f5f1e8;
    border: 2px solid #806f60;
    font-family: Frutiger;
}

label{
    font-size: 18pt;
}

.forms_radio_left{
    float: left;
}

.button_weiter{
    margin: 20px 0 20px 220px;
    height: 40px;
    width: 130px;
    font-size: 18pt;
    border-radius: 5px;
    background-color: #584125;
    color: #ebe4d1; 
    border: 1px solid #584125;
}

.button_weiter:hover{
    background-color: #FFCC00;
    color: #584125; 
}

.button_weiter:disabled{
    opacity: 0.6;
}

.button_zurück{
    float: left;
    margin: 20px;
    height: 40px;
    width: 130px;
    font-size: 18pt;
    border-radius: 5px;
    background-color: #ebe4d1;
    color: #584125; 
    border: 1px solid #584125;
}

.button_zurück:hover{
    background-color: #584125;
    color: #ebe4d1;
}

.div_forms_checkbox{
    margin: 20px 0 0 20px;
    font-size: 25pt;
    font-weight: 900;
    color: #584125;
}

.forms_checkbox{
    margin-left: 20px;
}

input[type=checkbox] {
    transform: scale(1.5);
}

input[type='radio'] {
    transform: scale(1.5);
}


